################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Cram/v14
/CramCore/obj/Debug
/CramCoreTest/obj/Debug
